
<h1 class="text-center m-2 text-white">¡Conoce nuestros productos!</h1>
<div class="gallery-container">
    <a href="/api/products">
        <section class="gallery">
            <img src="/static/uploads/thumbnails/thumbnail0.jpeg" alt="">
            <img src="/static/uploads/thumbnails/thumbnail1.jpeg" alt="">
            <img src="/static/uploads/thumbnails/thumbnail2.jpeg" alt="">
            <img src="/static/uploads/thumbnails/thumbnail3.jpeg" alt="">
            <img src="/static/uploads/thumbnails/thumbnail4.jpeg" alt="">
        </section>
    </a>
</div>