<div class="m-2">
    <section class="home">
        <h1 class="text-center text-white">¡Conocé nuestros productos!</h1>
        <div class="gallery-container">
            <a href="/api/products">
                <section class="gallery">
                    <img src="/static/uploads/thumbnails/thumbnail0.jpeg" alt="">
                    <img src="/static/uploads/thumbnails/thumbnail7.jpeg" alt="">
                    <img src="/static/uploads/thumbnails/thumbnail10.jpeg" alt="">
                    <img src="/static/uploads/thumbnails/thumbnail11.jpeg" alt="">
                    <img src="/static/uploads/thumbnails/thumbnail4.jpeg" alt="">
                    <img src="/static/uploads/thumbnails/thumbnail6.jpeg" alt="">
                </section>
            </a>
        </div>
    </section>
</div>