<div>
    <h1>Productos</h1>
    <form id="createProductForm">
        <h2>Crear producto</h2>
        <p>Nombre: <input type="text" id="title"></p>
        <p>Descripcion: <textarea id="description" cols="30" rows="5"></textarea></p>
        <p>Imagen: <input type="text" id="thumbnail"></p>
        <p>Precio: <input type="number" id="price"></p>
        <p>Codigo: <input type="number" id="code"></p>
        <p>Stock: <input type="number" id="stock"></p>
        <button>Enviar</button>
    </form>
    <div>
        {{#each products}}
            <h2>Nombre: {{this.title}}</h2>
            <p>Precio: {{this.price}}</p>
        {{/each}}
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>