<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h1>Crear cuenta</h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="/session/register">
                        <div class="form-group">
                            <label>Usuario:</label>
                            <input name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input name="first_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Apellido:</label>
                            <input name="last_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Contraseña:</label>
                            <input name="password" type="password" class="form-control" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-secondary mt-4">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>