<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-4 col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Restablecer contrase単a</h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="/reset-password/reset">
                        <div class="form-group">
                            <label>Usuario:</label>
                            <input name="username" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Nueva contrase単a:</label>
                            <input name="newPassword" type="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Confirmar contrase単a:</label>
                            <input name="confirmPassword" type="password" class="form-control" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-secondary mt-4">Restablecer contrase単a</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>