body {
    background-color: #d8b5ff;
}

h1 {
    text-align: center;
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-products {
    width: 16rem;
    height: 16rem;
}

.card-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
    text-align: center;
}